<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <!-- 网页浏览 -->
    <uses-feature 
          android:name="android.software.webview"
          android:required="false" />
    <!-- Vulkan -->
    <uses-feature
          android:name="android.hardware.vulkan.version"
          android:required="false" />
    <!-- Vulkan 计算能力 -->
    <uses-feature
          android:name="android.hardware.vulkan.compute"
          android:required="false" />
    <!-- Vulkan 核心功能集 -->
    <uses-feature
          android:name="android.hardware.vulkan.level"
          android:required="false" />
    <!-- OpenGL ES -->
    <uses-feature 
          android:glEsVersion="0x00030002"
          android:required="false" />
    <!-- AEP -->
    <uses-feature 
          android:name="android.hardware.opengles.aep"
          android:required="false" />
    <!-- 系统备份服务 -->
    <uses-feature 
          android:name="android.software.backup"
          android:required="false" />
    <!-- ipsec -->
    <uses-feature 
          android:name="android.software.ipsec_tunnels"
          android:required="false" />
    <!-- ipsec 无缝网络迁移 -->
    <uses-feature 
          android:name="android.software.ipsec_tunnel_migration"
          android:required="false" />
    <!-- 标准运行内存设备 -->
    <uses-feature 
          android:name="android.hardware.ram.normal"
          android:required="false" />
    <!-- Android TV -->
    <uses-feature 
          android:name="android.software.leanback"
          android:required="false" />
    <!-- 直播电视 -->
    <uses-feature 
          android:name="android.software.live_tv"
          android:required="false" />
    <!-- 电话 -->
    <uses-feature 
          android:name="android.hardware.telephony"
          android:required="false" />
    <!-- 指纹识别  -->
    <uses-feature 
          android:name="android.hardware.fingerprint"
          android:required="false" />
    <!-- 手柄 -->
    <uses-feature 
          android:name="android.hardware.gamepad"
          android:required="false" />
    <!-- 红外线 -->
    <uses-feature 
          android:name="android.hardware.consumerir"
          android:required="false" />
    <!-- 触摸屏 -->
    <uses-feature 
          android:name="android.hardware.touchscreen"
          android:required="false" />
    <!-- 触摸屏模拟器 -->
    <uses-feature 
          android:name="android.hardware.faketouch"
          android:required="false" />
    <!-- 麦克风 -->
    <uses-feature 
          android:name="android.hardware.microphone"
          android:required="false" />
    <!-- 蓝牙 -->
    <uses-feature 
          android:name="android.hardware.bluetooth"
          android:required="false" />
    <!-- BLE -->
    <uses-feature 
          android:name="android.hardware.bluetooth_le"
          android:required="false" />
    <!-- 传感器 -->
    <uses-feature 
          android:name="android.hardware.sensor"
          android:required="false" />
    <!-- 纵向屏幕 -->
    <uses-feature 
          android:name="android.hardware.screen.portrait"
          android:required="false" />
    <!-- NFC -->
    <uses-feature 
          android:name="android.hardware.nfc"
          android:required="false" />
    <!-- HCE -->
    <uses-feature 
          android:name="android.hardware.nfc.hce"
          android:required="false" />
    <!-- USB 主机功能 -->
    <uses-feature 
          android:name="android.hardware.usb.host"
          android:required="false" />
    <!-- USB 配件功能 -->
    <uses-feature 
          android:name="android.hardware.usb.accessory"
          android:required="false" />
    <!-- Wi-Fi 硬件功能 -->
    <uses-feature 
          android:name="android.hardware.wifi"
          android:required="false" />
    <!-- Wi-Fi 直连 / WiFi P2P -->
    <uses-feature 
          android:name="android.hardware.wifi.direct"
          android:required="false" />
    <!-- 定位硬件功能 -->
    <uses-feature 
          android:name="android.hardware.location"
          android:required="false" />
    <!-- GPS 定位 -->
    <uses-feature 
          android:name="android.hardware.location.gps"
          android:required="false" />
    <!-- 网络定位 -->
    <uses-feature 
          android:name="android.hardware.location.network"
          android:required="false" />
    <!-- Mega-Feature -->
    <uses-feature 
          android:name="android.hardware.sensor.hifi_sensors"
          android:required="false" />
    <!-- 步态检测 -->
    <uses-feature 
          android:name="android.hardware.sensor.stepdetector"
          android:required="false" />
    <!-- 计步器 -->
    <uses-feature 
          android:name="android.hardware.sensor.stepcounter"
          android:required="false" />
    <!-- 心率传感器 -->
    <uses-feature 
          android:name="android.hardware.sensor.heartrate"
          android:required="false" />
    <!-- 加速度传感器 -->
    <uses-feature 
          android:name="android.hardware.sensor.accelerometer"
          android:required="false" />
    <!-- 环境温度计 -->
    <uses-feature 
          android:name="android.hardware.sensor.ambient_temperature"
          android:required="false" />
    <!-- 地磁传感器 -->
    <uses-feature 
          android:name="android.hardware.sensor.compass"
          android:required="false" />
    <!-- 角速度传感器 -->
    <uses-feature 
          android:name="android.hardware.sensor.gyroscope"
          android:required="false" />
    <!-- 环境光传感器 -->
    <uses-feature 
          android:name="android.hardware.sensor.light"
          android:required="false" />
    <!-- 距离传感器 -->
    <uses-feature 
          android:name="android.hardware.sensor.proximity"
          android:required="false" />
    <!-- 相对湿度计 -->
    <uses-feature 
          android:name="android.hardware.sensor.relative_humidity"
          android:required="false" />
    <!-- 配套设备 -->
    <uses-feature 
          android:name="android.software.companion_device_setup"
          android:required="false" />
    <!-- 打印 -->
    <uses-feature 
          android:name="android.software.print"
          android:required="false" />
    <!-- MIDI -->
    <uses-feature 
          android:name="android.software.midi"
          android:required="false" />
    <!-- 低延迟音频 -->
    <uses-feature 
          android:name="android.hardware.audio.low_latency"
          android:required="false" />
    <!-- 音频输出 -->
    <uses-feature 
          android:name="android.hardware.audio.output"
          android:required="false" />
    <!-- 专业音频 -->
    <uses-feature 
          android:name="android.hardware.audio.pro"
          android:required="false" />
    <!-- 任何相机 -->
    <uses-feature 
          android:name="android.hardware.camera.any"
          android:required="false" />
    <!-- 后置相机 -->
    <uses-feature 
          android:name="android.hardware.camera"
          android:required="false" />
    <!-- 前置相机 -->
    <uses-feature 
          android:name="android.hardware.camera.front"
          android:required="false" />
    <!-- 外接相机 -->
    <uses-feature 
          android:name="android.hardware.camera.external"
          android:required="false" />
    <!-- 自动对焦 -->
    <uses-feature 
          android:name="android.hardware.camera.autofocus"
          android:required="false" />
    <!-- 闪光灯 -->
    <uses-feature 
          android:name="android.hardware.camera.flash"
          android:required="false" />
    
    <!-- 虚拟机超级用户权限 superuser -->
    <uses-permission
        android:name="android.permission.ACCESS_SUPERUSER"
        tools:ignore="ProtectedPermissions" />
    <!-- 访问 AD ID API -->
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID" />
    <!-- 访问 Attention API -->
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" />
    <!-- 访问 Topics API -->
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS" />
    <!-- 声明查询全局已安装应用权限 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- 允许应用程序修改全局音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 允许识别身体活动 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- 读取日历活动和详情 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- 在使用期间可访问身体传感器数据，如心率 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- 读取同步统计信息 -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- 读取同步设置 -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- 允许应用程序读取或写入系统设置 -->
    <uses-permission 
          android:name="android.permission.WRITE_SETTINGS"
          tools:ignore="ProtectedPermissions" />
    <!-- 允许应用程序读取或写入安全系统设置 -->
    <uses-permission 
          android:name="android.permission.WRITE_SECURE_SETTINGS"
          tools:ignore="ProtectedPermissions" />
    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 配置并连接 WiFi 显示器 -->
    <uses-permission
        android:name="android.permission.CONFIGURE_WIFI_DISPLAY"
        tools:ignore="ProtectedPermissions" />
    <!-- 使用情况访问权限 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- 所有文件访问权限 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 使用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 使用蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 连接蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- 扫描蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- Android 16+ 查询高级保护模式状态 -->
    <uses-permission android:name="android.permission.QUERY_ADVANCED_PROTECTION_MODE" />
    <!-- 读取共享存储空间中的图片文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 从共享存储空间读取音频文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- 从共享存储空间读取视频文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- 仅获取用户选择的图片与视频 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <!-- 控制近距离通信 -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 读取 NFC 交易事件 -->
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
    <!-- 接收 NFC 首选支付信息 -->
    <uses-permission android:name="android.permission.NFC_PREFERRED_PAYMENT_INFO" />
    <!-- 发射红外线 -->
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <!-- 读取系统日志 -->
    <uses-permission 
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 与其他用户进行交互 -->
    <uses-permission 
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许应用程序跨用户访问数据块 -->
    <uses-permission 
        android:name="android.permission.ACCESS_BLOBS_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <!-- 转存系统信息 -->
    <uses-permission 
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <!-- 电量统计 -->
    <uses-permission 
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许应用阻止非系统覆盖窗口绘制在其上方 -->
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <!-- Android 17+ 局域网附近设备 -->
    <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK" />
    <!-- Android 13+ 附近 WiFi 设备 -->
    <uses-permission 
        android:name="android.permission.NEARBY_WIFI_DEVICES" 
        android:usesPermissionFlags="neverForLocation"
        tools:ignore="UnusedAttribute" />
    <!-- 通过 GPS 获取访问精确的位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络访问粗略的位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取额外的位置信息提供程序命令 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 访问媒体中的地理位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!-- 使用证书 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- 使用生物识别 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- 访问 USB 设备 -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 以高采样率访问传感器数据 -->
    <uses-permission 
        android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 强制更新所有权 -->
    <uses-permission android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />
    <!-- 在后台运行 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <!-- 在后台使用数据 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 连接WLAN网络和断开连接 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 发送持久广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 允许接收WLAN多播 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 更改网络连接性 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 显示通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 运行前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 运行「dataSync」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- 运行「specialUse」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- 运行「systemExempted」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <!-- 运行「camera」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <!-- 运行「connectedDevice」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <!-- 运行「fileManagement」类型的前台服务 -->
    <uses-permission 
        android:name="android.permission.FOREGROUND_SERVICE_FILE_MANAGEMENT"
        tools:ignore="SystemPermissionTypo" />
    <!-- 运行「health」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <!-- 运行「location」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <!-- 运行「mediaPlayback」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <!-- 运行「mediaProjection」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <!-- 运行「microphone」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <!-- 运行「phoneCall」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <!-- 运行「remoteMessaging」类型的前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 关闭其他应用 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 关闭其他应用 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 禁用键盘锁 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 检测屏幕截屏 -->
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <!-- 检测屏幕录屏 -->
    <uses-permission android:name="android.permission.DETECT_SCREEN_RECORDING" />
    <!-- 计算应用存储空间 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    
    <!-- Application 私有 API -->
    <uses-permission android:name="com.adb.kitty.USE_PRIVATE_API" />
    <permission
        android:name="com.adb.kitty.USE_PRIVATE_API"
        android:description="@string/permission_description"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/permission_label"
        android:protectionLevel="signature" />
    
    <queries>
        <package android:name="com.adb.kitty" />
        <package android:name="com.android.browser" />
        <package android:name="com.android.chrome" />
        <package android:name="org.telegram.messenger.beta" />
        <package android:name="org.telegram.messenger.web" />
        <package android:name="org.telegram.messenger" />
        <package android:name="tw.nekomimi.nekogram" />
        <package android:name="com.twitter.android" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.ipsec" />
        <package android:name="com.android.art" />
        <package android:name="com.android.virt" />
        <package android:name="com.android.neuralnetworks" />
        <package android:name="com.android.shell" />
        <package android:name="com.android.devicelock" />
        <package android:name="com.android.uwb" />
        <package android:name="com.android.settings" />
        <package android:name="com.android.adbd" />
        <package android:name="com.android.wifi" />
        <package android:name="com.android.adservices" />
        <package android:name="com.android.healthfitness" />
        <package android:name="com.android.tethering" />
        <package android:name="com.android.permission" />
        <package android:name="com.android.mediaprovider" />
        <package android:name="com.android.media" />
        <package android:name="com.android.extservices" />
        <package android:name="com.android.conscrypt" />
        <package android:name="com.android.configinfrastructure" />
        <package android:name="com.android.cellbroadcast" />
        <package android:name="com.android.appsearch" />
        <package android:name="com.android.scheduling" />
        <package android:name="com.android.resolv" />
        <package android:name="com.android.profiling" />
        <package android:name="com.android.ondevicepersonalization" />
        <package android:name="com.android.media.swcodec" />
        <package android:name="com.android.vndk" />
        <package android:name="com.android.vndk.v30" />
        <package android:name="com.android.vndk.v31" />
        <package android:name="com.android.vndk.v32" />
        <package android:name="com.android.vndk.v33" />
        <package android:name="com.android.vndk.v34" />
        <package android:name="com.android.vndk.v35" />
        <package android:name="com.android.vndk.v36" />
        <package android:name="com.android.vndk.v37" />
        <package android:name="com.android.apex.cts.shim" />
        <package android:name="com.android.os.statsd" />
        <package android:name="com.android.tzdata" />
        <package android:name="com.android.sdkext" />
        <package android:name="com.android.runtime" />
    </queries>
    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="ftp" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="sftp" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="ssh" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="vpn" />
        </intent>
    </queries>
    <!-- 如果 application 设置了 android:process, 但是 activity、service、provider、receiver 没有设置 android:process, 就得跟着 application 跑在同一个进程里 -->
    <!-- 通过 android:process 设置的进程来共享同一进程，以冒号开头的是应用私有进程，以非冒号开头的是同签名应用的共享进程 -->
    <application
        android:process=":task"
        android:largeHeap="true"
        android:name="BypassApi"
        android:allowBackup="true"
        android:directBootAware="true"
        android:usesNonSdkApi="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:appCategory="productivity"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:banner="@drawable/tv_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="37">
        <!-- uses-native-library Android 12+ -->
        <uses-native-library
            android:name="com.android.future.usb.accessory"
            android:required="false" />
        <uses-native-library
            android:name="com.android.location.provider"
            android:required="false" />
        <meta-data 
            android:name="android.software.leanback.supports_touch"
            android:value="true" />
        <meta-data 
            android:name="android.system.support"
            android:value="HyperOS3、Android 16" />
        <meta-data 
            android:name="app_logs"
            android:value="@string/app_logs" />
        <meta-data 
            android:name="android.abi.level"
            android:resource="@xml/android_abi_version" />
        <meta-data 
            android:name="android.sdk.level"
            android:resource="@xml/android_sdk_version" />
        <meta-data 
            android:name="android.kernel.level"
            android:resource="@xml/android_gki_kernel_version" />
        <meta-data 
            android:name="android.ramdisk.level"
            android:resource="@xml/android_ramdisk_api_level" />
        <meta-data 
            android:name="apex"
            android:value="com.android.shell、com.android.runtime、com.android.adbd、com.android.wifi、com.android.permission、com.android.settings" />
        <meta-data 
            android:name="usb.host"
            android:resource="@xml/usb_device_filter" />
        <meta-data 
            android:name="usb.accessory"
            android:resource="@xml/accessory_filter" />
        <!-- activity-alias 适配 Pixel 系列的类原生系统桌面 -->
        <activity-alias
             android:name="aliasActivity"
             android:exported="true"
             android:targetActivity=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
                <category
                    android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity 
            android:name="MainActivity"
            android:directBootAware="true"
            android:showForAllUsers="false"
            android:hardwareAccelerated="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustPan"
            android:canDisplayOnRemoteDevices="false"
            android:launchMode="singleInstancePerTask"
            android:persistableMode="persistNever"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|density|keyboardHidden"
            android:permission="com.adb.kitty.USE_PRIVATE_API"
            android:exported="true">
            <!-- USB主机模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <!-- USB配件模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <!-- USB主机模式配置 -->
            <meta-data 
                 android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                 android:resource="@xml/usb_device_filter" />
            <!-- USB配件模式配置 -->
            <meta-data
                 android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                 android:resource="@xml/accessory_filter" />
        </activity>
        <service 
            android:name=".service.AdbSessionService"
            android:foregroundServiceType="connectedDevice|remoteMessaging|specialUse"
            android:exported="true"
            android:directBootAware="true"
            android:permission="com.adb.kitty.USE_PRIVATE_API" >
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Terminal shell execution service for local developer tool" />
        </service>
        <provider
            android:name=".provider.AppDataFilesProvider"
            android:authorities="${applicationId}.documents"
            android:exported="true"
            android:directBootAware="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true"
            android:directBootAware="true"
            android:permission="com.adb.kitty.USE_PRIVATE_API">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/uncompressed_dex_opt_out" />
        </provider>
    </application>
</manifest>